/* 共通設定 */
#figure {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 40px auto;
  }
  
  .transition {
    transition: all 0.5s;
  }
  
  /* □ */
  .square {
    clip-path: inset(0);
  }
  
  /* ○ */
  .circle {
    clip-path: circle(50%);
  }
  
  /* △ */
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  